body {
  font-family: sans-serif;
}
.login-button {
  display: flex;
  justify-content: right;
  margin: 20px;
  cursor: pointer;
}

.nav-section {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.menu-list {
  display: flex;
  list-style: none;
}

.menu-list li {
  text-decoration: none;
  padding: 10px;
}
.card {
  border: none !important;
  margin-bottom: 10px;
}

.menu-area {
  display: flex;
  justify-content: center;
}

.search-box {
  border-bottom: 1px solid black;
  position: absolute;
  right: 20px;
  padding: 5px;
}

.search-box input {
  border: none;
  margin-left: 5px;
}

.search-box input:focus {
  outline: none;
}

.product-img {
  display: flex;
  justify-self: flex-end;
}

.product-info {
  font-size: 20px;
  margin-bottom: 10px;
}

.login-area {
  display: flex;
  justify-content: center;
}

.login-form {
  width: 40em;
}

.choice {
  font-size: 11px;
  color: #63786a;
  font-weight: bold;
  height: 20px;
}

.drop-down {
  margin-top: 20px;
}

.add-button {
  margin-top: 20px;
  width: 100%;
}
